.mt-6 {
    margin-top: 4rem !important;
}

.draft-row {
    display: flex;
    justify-content: flex-start;
}

.draft-count-box {
    border: 1px solid #EAEAEA;
    background-color: white;
    border-radius: 5px;
    margin-right: 47px;
    box-shadow: 0 4px 0 10px 10px;
    padding: 10px;
    font-size: 10px;
    color: #8C8C8C;
    width: 400px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.MuiAppBar-root {
    border-bottom: 1px solid #E1E1E1 !important;
}

.MuiPaper-elevation4 {
    box-shadow: none !important;
}

.MuiTab-root {
    font-size: 1rem !important;
    text-transform: none !important;
}

.MuiAppBar-colorPrimary {
    color: #88305F !important;
    background-color: #ffffff !important;
}

.MuiTabs-indicator {
    background-color: #88305F !important;
}

.MuiTabs-indicator {
    height: 3px !important;
}

.draft-count {
    font-size: 30px;
    color: #996C84;
}

.margin-0 {
    margin-bottom: 0;
}

.list-view-header div {
    padding: 9px;
    height: 40px;
}

.draft-list-view-table {
    padding: 5px 0px;
    margin-right: 10px;
}

.draft-list-view-table div {
    padding-left: 2rem;
}

.create-btn {
    background: #FFEF5A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFEF5A, #FBCE2F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFEF5A, #FBCE2F);
    border: none;
    font-size: 14px;
    color: #626262;
}

.draft-card {
    box-shadow: 0px 2px 20px 0px #8787871A;
    background-color: white;
    border-radius: 10px;
}

.draft-icon {
    width: 31px;
}

.text-purple {
    font-weight: 500;
    color: #88305F;
    font-size: 15px;
}

.cancel-btn {
    font-size: 14px !important;
    color: #88305F !important;
    font-weight: 700 !important;
}

.save-btn {
    font-size: 15 !important;
    font-weight: 700 !important;
}

.delete-icon {
    width: 20px;
    margin-top: 15px;
    cursor: pointer;
}

@mixin avatar($size) {
    width: $size;
    height: $size;
    background-color: #df0d00;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    .initials {
        position: relative;
        // top: $size * 0.1;
        top: 2px;
        font-size: $size * 0.4;
        line-height: $size * 0.7;
        color: #fff;
        font-family: Roboto;
        font-weight: normal;
    }
}

.avatar-circle {
    @include avatar(100px);
}

.avatar-circle-sm {
    @include avatar(30px);
}

.avatar-circle-lg {
    @include avatar(250px);
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}